.homeContainer {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.message {
  border: solid black 2px;
	text-align: center;
  width: 60%;
}

.excuse {
	border: solid red 1px;
	display: flex;
	height: 15rem;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.container {
  border: solid green 1px;
  width: 80%;
  align-items: center;
}
