.homeContainer {
	min-height: auto;
	padding: 0 0.5rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	border: 15px solid royalblue;
}

.message {
	border: solid black 2px;
	text-align: center;
	width: 60%;
}

.container {
	border: solid red 1px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.excuse {
	height: auto;
	width: 80%;
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}
